In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import os
from os.path import join

In [2]:
def str_to_path(path_str):
    '''Converts windows path string to os.path'''
    path_list = path_str.split('\\')
    path = os.path.join(path_list[0], os.sep, *path_list[1:])
    return path

In [3]:
path = str_to_path(r"N:\Projects\Groundwater\projects\Global_GDE_Map\data")
plots_in = os.path.join(path, "sPlotOpen", "sPlotOpen_header(2).txt")
veg_in = os.path.join(path, "sPlotOpen", "sPlotOpen_DT(1).txt")

In [4]:
df1 = pd.read_csv(plots_in, sep='\t')
df1

E:\Users\kklausmeyer\AppData\Local\Temp\41\ipykernel_14708\1365235120.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(plots_in, sep='\t')

,PlotObservationID,GIVD_ID,Dataset,Continent,Country,Biome,Date_of_recording,Latitude,Longitude,Location_uncertainty,Releve_area,Plant_recorded,Elevation,Aspect,Slope,is_forest,ESY,Naturalness,Forest,Shrubland,Grassland,Wetland,Sparse_vegetation,Cover_total,Cover_tree_layer,Cover_shrub_layer,Cover_herb_layer,Cover_moss_layer,Cover_lichen_layer,Cover_algae_layer,Cover_litter_layer,Cover_bare_rocks,Cover_cryptogams,Cover_bare_soil,Height_trees_highest,Height_trees_lowest,Height_shrubs_highest,Height_shrubs_lowest,Height_herbs_average,Height_herbs_lowest,Height_herbs_highest,SoilClim_PC1,SoilClim_PC2,Resample_1,Resample_2,Resample_3,Resample_1_consensus
0,16,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1790.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,30.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
1,17,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1750.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
2,18,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1750.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,5.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,False,False,True,False
3,20,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1520.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,60.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,False,True,False,False
4,22,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1550.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,65.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95099,1126749,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2010-08-19,56.287870,27.273862,10.0,4.0,Not specified,NaN,NaN,NaN,NaN,?,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,10.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.599,0.775,True,False,False,True
95100,1126761,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2009-06-19,56.939965,23.598014,10.0,4.0,Not specified,NaN,NaN,NaN,False,Y-Gra,Semi-natural,False,False,True,False,False,93.0,NaN,NaN,90.0,3.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.416,0.690,False,False,True,False
95101,1126769,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2009-06-19,56.939965,23.598014,10.0,4.0,Not specified,NaN,NaN,NaN,False,Y-Gra,Semi-natural,False,False,True,False,False,93.0,NaN,4.0,91.0,5.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.416,0.690,False,True,False,False
95102,1126774,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2003-09-06,57.248222,22.147667,10.0,4.0,Not specified,NaN,NaN,NaN,NaN,?,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,38.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.065,0.849,False,False,True,False
95103,1126790,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2003-07-19,57.563967,26.892074,10.0,4.0,Not specified,NaN,NaN,NaN,False,D32,Natural,False,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.738,1.164,False,False,True,False

In [5]:
df2 = pd.read_csv(veg_in, sep='\t')
df2

,PlotObservationID,Species,Original_species,Original_abundance,Abundance_scale,Relative_cover
0,16,Festuca brachyphylla,Festuca brachyphylla,10.0,CoverPerc,0.277778
1,16,Potentilla elegans,Potentilla elegans,25.0,CoverPerc,0.694444
2,16,Saxifraga serpyllifolia,Saxifraga serpyllifolia,1.0,CoverPerc,0.027778
3,17,Festuca brachyphylla,Festuca brachyphylla,1.0,CoverPerc,0.038462
4,17,Potentilla elegans,Potentilla elegans,25.0,CoverPerc,0.961538
...,...,...,...,...,...,...
1945379,1126790,Potentilla erecta,Potentilla erecta,0.3,CoverPerc,0.006276
1945380,1126790,Salix lapponum,Salix lapponum,1.0,CoverPerc,0.020921
1945381,1126790,Stellaria palustris,Stellaria palustris,0.5,CoverPerc,0.010460
1945382,1126790,Trichophorum alpinum,Scirpus hudsonianus,18.0,CoverPerc,0.376569
1945383,1126790,Vaccinium oxycoccos,Vaccinium oxycoccos,8.0,CoverPerc,0.167364

In [6]:
df3 = pd.merge(df2, df1, on='PlotObservationID', how='left')
df4 = (df3.groupby(['Species', 'Continent'], dropna=False)
           .agg({'PlotObservationID':'count'})
           .reset_index()
           .rename(columns={'PlotObservationID':'Count_plots'})
          )
df4

               Species      Continent  Count_plots
0           Astragalus         Europe            7
1              "Algae"           Asia            2
2              "Algae"         Europe           36
3       Aa argyrolepis  South America            6
4        Aa colombiana  South America           11
...                ...            ...          ...
56047    x Festulolium         Europe            3
56048  x Pucciphippsia         Europe            1
56049      x Triticale           Asia            1
56050              NaN         Africa          632
56051              NaN  South America          105

[56052 rows x 3 columns]

In [7]:
out_csv = os.path.join(path, "sPlotOpen_species_continent_table.csv")
df4.to_csv(out_csv, encoding='utf-8')

In [10]:
df5 = df4.pivot_table(index=['Species'], columns='Continent', values='Count_plots').reset_index()
df5

Continent,Species,Africa,Asia,Europe,North America,Oceania,South America
0,Astragalus,NaN,NaN,7.0,NaN,NaN,NaN
1,"""Algae""",NaN,2.0,36.0,NaN,NaN,NaN
2,Aa argyrolepis,NaN,NaN,NaN,NaN,NaN,6.0
3,Aa colombiana,NaN,NaN,NaN,NaN,NaN,11.0
4,Aa denticulata,NaN,NaN,NaN,NaN,NaN,3.0
...,...,...,...,...,...,...,...
42674,x Agropogon,NaN,NaN,NaN,NaN,2.0,NaN
42675,x Ammocalamagrostis,NaN,NaN,5.0,NaN,NaN,NaN
42676,x Festulolium,NaN,NaN,3.0,NaN,NaN,NaN
42677,x Pucciphippsia,NaN,NaN,1.0,NaN,NaN,NaN
42678,x Triticale,NaN,1.0,NaN,NaN,NaN,NaN

In [13]:
# Export genus level distribution tables
genus = 'Salix'
out_csv = os.path.join(path, "sPlotOpen_genus_continent_table_for_{}.csv".format(genus))
df6 = df5[df5['Species'].str.startswith(genus)]
df6.to_csv(out_csv, encoding='utf-8')
df6

Continent,Species,Africa,Asia,Europe,North America,Oceania,South America
34930,Salix,NaN,45.0,61.0,118.0,NaN,NaN
34931,Salix acutifolia,NaN,3.0,1.0,NaN,NaN,NaN
34932,Salix alaxensis,NaN,NaN,NaN,93.0,NaN,NaN
34933,Salix alba,NaN,8.0,225.0,NaN,NaN,NaN
34934,Salix alpina,NaN,NaN,88.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
35075,Salix waldsteiniana,NaN,NaN,89.0,NaN,NaN,NaN
35076,Salix warburgii,NaN,1.0,NaN,NaN,NaN,NaN
35077,Salix wilhelmsiana,NaN,2.0,NaN,NaN,NaN,NaN
35078,Salix wolfii,NaN,NaN,NaN,49.0,NaN,NaN
35079,Salix xerophila,NaN,1.0,10.0,NaN,NaN,NaN

In [17]:
# Export country level species lists
country = 'Mongolia'
out_csv = os.path.join(path, "sPlotOpen_country_species_table_for_{}.csv".format(country))
df7 = df3.loc[df3['Country'] == country]
df8 = (df7.groupby(['Species', 'Country'], dropna=False)
           .agg({'PlotObservationID':'count'})
           .reset_index()
           .rename(columns={'PlotObservationID':'Count_plots'})
          )
df8.to_csv(out_csv, encoding='utf-8')
df8

                     Species   Country  Count_plots
0          Aconitum barbatum  Mongolia            1
1        Adoxa moschatellina  Mongolia            2
2    Agriophyllum squarrosum  Mongolia            3
3        Agropyron cristatum  Mongolia          175
4          Agropyron fragile  Mongolia            1
..                       ...       ...          ...
427    Zygophyllum neglectum  Mongolia           61
428    Zygophyllum potaninii  Mongolia           12
429  Zygophyllum pterocarpum  Mongolia           14
430      Zygophyllum rosowii  Mongolia           36
431  Zygophyllum xanthoxylum  Mongolia           68

[432 rows x 3 columns]